@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
--main-background: hsl(233, 47%, 7%);
--card-background: hsl(244, 38%, 16%);
--accent: hsl(277, 64%, 61%);
--main-heading-stats: hsl(0, 0%, 100%);
--main-paragraph: hsla(0, 0%, 100%, 0.75);
--stat-headings: hsla(0, 0%, 100%, 0.6);
--header-font: Inter;
--main-font: "Lexend Deca";
}
* {
    box-sizing: border-box;
}
html {
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
}
html, body, h1, h2 {
	margin: 0;
	padding: 0;
}
body {
    height: 100%;
    width: 100%;
    background-color: var(--main-background);
    display: flex;
    justify-content: center;
    padding: 0 7vw 0 7vw;
}
main {
    background-color: var(--card-background);
    color: var(--main-paragraph);
    border-radius: 10px 10px 10px 10px;
    /* overflow: hidden; */
}
.container-image {
    background-image: url("img/image-header-mobile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 73.39%; /* (img-height / img-width * container-width) */ /* (480 / 654 * 100) */
    background-color: var(--accent);
    background-blend-mode: multiply;
    filter: contrast(75%) brightness(110%) saturate(130%);
}
article {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
    padding: 10% 7% 10% 7%;
}
.container-text {
    text-align: center;
    font-family: var(--main-font);
}
h1 {
    color: var(--main-heading-stats);
    font-family: var(--header-font);
    font-size: 2.2rem;
    letter-spacing: 0.03em;
}
.accent {
    color: var(--accent);
}
.container-text p {
    font-size: 1.1rem;
    line-height: 2.0rem;
    color: var(--main-paragraph);
    font-family: var(--header-font);
    padding: 0 6% 0 6%;
}
.container-stats {
    margin: 5% 0 0 0;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.single-stat {
    line-height: 0.3rem;
    color: var(--stat-headings);
    text-align: center;
    margin-bottom: 1.3vh;
}
.bold-stat {
    font-family: var(--header-font);
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--main-heading-stats);
    letter-spacing: 0.03em;
}
.text-stat {
    font-weight: 400;
    font-variant: small-caps; 
    font-size: 1.1rem;
    letter-spacing: 0.1em;
}
@media screen and (min-width: 699px) {
    main {
        display: flex;
        min-width: 80vw;
        border-radius: 10px 10px 10px 10px;
    }
    article {
        order: 1;
        width: 51%;
        padding: 0;
        margin: 6% 6% 4% 6%;
    }
    .container-image {
        background-image: url("img/image-header-desktop.jpg");
        order: 2;
        width: 49%;
        min-width: 49%;
        height: auto;
        padding-top: initial;
        background-size: cover;        
    }
    .container-text {
        text-align: left;
        padding-top: 1%;
    }
    .container-text > p {
        padding: initial;
        padding-top: 2%;
        padding-right: 16%;
        font-size: 1.0em;
        line-height: 1.6em;
    }
    h1 {
        padding: initial;
    }    
    .container-stats {
        padding: 0;
        margin-top: 10%;       
        flex-direction: initial;
        align-self: initial;
        justify-content: space-between;
        padding-right: 16%;
    }
    .single-stat {
        margin-bottom: initial;
    }
    .bold-stat {
        font-size: 1.6rem;
        letter-spacing: 0.03em;
        text-align: left;
    }
    .text-stat {
        font-family: var(--main-font);
        font-size: 1.0rem;
        letter-spacing: 0.1em;
    }
}
